<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IoC" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <IoC xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="MB.OMS.Account.Domain.Interface.IUserRepository, MB.OMS.Account.Domain" 
                mapTo="MB.OMS.Account.Repository.UserRepository, MB.OMS.Account.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IQuestionRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.QuestionRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICampaignsRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CampaignsRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ISourcesRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.SourcesRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IStatusCallRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.StatusCallRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CustomerRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ISurveyRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.SurveyRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IProjectsRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.ProjectsRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IUserRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.UserRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerFieldRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CustomerFieldRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IProjectCustomerFieldRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.ProjectCustomerFieldRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerFieldValueRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CustomerFieldValueRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IProjectStatusCallRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.ProjectStatusCallRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerExistRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CustomerExistRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerExistFieldValueRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CustomerExistFieldValueRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerErrorRepository, MB.OMS.Telesale.Domain"
                mapTo="MB.OMS.Telesale.Repository.CustomerErrorRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICustomerErrorFieldValueRepository, MB.OMS.Telesale.Domain"
              mapTo="MB.OMS.Telesale.Repository.CustomerErrorFieldValueRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IProjectCustomerRepository, MB.OMS.Telesale.Domain"
              mapTo="MB.OMS.Telesale.Repository.ProjectCustomerRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IProjectQuestionsRepository, MB.OMS.Telesale.Domain"
              mapTo="MB.OMS.Telesale.Repository.ProjectQuestionsRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IQuestionsSurveyRepository, MB.OMS.Telesale.Domain"
              mapTo="MB.OMS.Telesale.Repository.QuestionsSurveyRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IProjectUsersRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.ProjectUsersRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICallRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.CallRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ICallLogRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.CallLogRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.ISurveyAnswerRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.SurveyAnswerRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IRoleRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.RoleRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IPermisionsRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.PermisionsRepository, MB.OMS.Telesale.Repository" />     
      <register type="MB.OMS.Telesale.Domain.Interface.IReportRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.ReportRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IRolePermisionRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.RolePermisionRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IUserRoleRepository, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Repository.UserRoleRepository, MB.OMS.Telesale.Repository" />
      <register type="MB.OMS.Telesale.Domain.Interface.IEwayAPIService, MB.OMS.Telesale.Domain"
            mapTo="MB.OMS.Telesale.Service.EwayAPIService, MB.OMS.Telesale.Service" />
    </container>
  </IoC>
</configuration>